* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: aliceblue;
}
.random-recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 1em;
  padding-block: 2em;
  background-color: #1c1c1c;
  color: white;
  font-size: 1.1em;
}

.btn {
  all: unset;
  padding: 0.6em 3em;
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.recipe-container,
.recipe-description {
  margin-block: 2em;
  display: flex;
  align-items: center;
  column-gap: 2em;
  width: 80%;
  margin-inline: auto;
}

.recipe-image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  max-height: 50vh;
}
.recipe-data {
  flex: 1;
}

.recipe-name {
  margin-block-end: 1em;
  font-size: 2em;
  font-weight: 500;
}

.description {
  flex: 2;
}
.recipe-video {
  flex: 1;
  aspect-ratio: 2/1;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  background-size: 100% 100%;
  background-color: #999;
  background-blend-mode: multiply;
}

.recipe-description {
  align-items: center;
  justify-content: center;
}
.youtube-icon {
  width: 100px;
  height: 60px;
  background-image: url('https://static.vecteezy.com/system/resources/previews/018/930/572/original/youtube-logo-youtube-icon-transparent-free-png.png');
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  flex-direction: column;
}
